@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=DynaPuff:wght@700&display=swap');

*{ /*redefinindo todos os elementos da página*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    background-image: linear-gradient(to bottom, #3f4045, #3b3a40, #37343b, #332f35, #30292f);
    min-height: 100vh;  
}
header{    
    backdrop-filter: blur(8px);
}
nav{    
    display: flex;    
    justify-content: space-around;
    align-items: center;   
    height: 8vh;
    z-index: 99;      
    border-bottom: 1px solid #30292F;  
}
a{
    color: #fff;
    text-decoration: none;   
}

.menu{    
    font-size: 20px;
    list-style: none;
    display: flex;
    font-family: 'Bebas Neue', cursive; 
}
.menu li{
    text-transform: uppercase;    
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 15px;
    color: #fff;
    letter-spacing: 1px;
    margin-left: 30px;   
} /* ================================= FINAL HEADER ================================== */


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    position: relative;    
}
.container .box{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 800px;
    margin: 30px;   
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);   
    backdrop-filter: blur(5px);
}

.container .box .conteudo{
    padding: 10px;
    text-align: center;
}
.container .box .conteudo h2{
    padding: 1px;
    text-align: center;
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive; 
    border-bottom: 1px solid whitesmoke;
}

.lanches{
    width: 500px;    
    display: flex;   
    align-items: center;    
}

.lanches ul li{
    list-style: none;
    text-align: left;
    
}
.lanches img{
    border-radius: 10px;
    align-items: right;
   margin-left: 200px;
}
.lanches p{
    color:white;
   
    padding:20px;
    font-size: 20px;
}
/*final lanche*/

.porcaes{
    width: 500px;    
    display: flex;   
    align-items: center;    
}
.porcoes ul li{
    list-style: none;
    text-align: left;
}
.porcaes img{
    border-radius: 10px;
    align-items: right;
    margin-left: 200px;

}
.porcaes p{
    color:white;
    padding:20px;
    font-size: 20px;
    
}
  /*final porçoes*/

.bebidas{
    width: 500px;    
    display: grid;   
    align-items: center;    
    display: inline-block;
}

.bebidas ul li{
    list-style: none;
    text-align: left;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-gap: 10px;
}
.bebidas img{
    border-radius: 10px;
    align-items: right;
}
  /*final bebidas*/

  