@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=DynaPuff:wght@700&display=swap');

*{ /*redefinindo todos os elementos da página*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    background-image: linear-gradient(to bottom, #3f4045, #3b3a40, #37343b, #332f35, #b00f0f);
    min-height: 100vh;  
}
.logo img {
    height: 70px;
    border-radius: 50px;
}

header{    
    backdrop-filter: blur(8px);
}
nav{    
    display: flex;    
    justify-content: space-around;
    align-items: center;   
    height: 8vh;
    z-index: 99;      
    border-bottom: 1px solid #30292F;  
}
a{
    color: #fff;
    text-decoration: none;   
}

.menu{    
    font-size: 20px;
    list-style: none;
    display: flex;
    font-family: 'Bebas Neue', cursive; 
}
.menu li{
    text-transform: uppercase;    
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 15px;
    color: #fff;
    letter-spacing: 1px;
    margin-left: 30px;   
} /* ================================= FINAL HEADER ================================== */

.Contato{
    font-family: 'Zeyada', cursive;
    font-size: 50px;
    margin-left: 35rem;
    margin-top: 18PX; 
    margin-bottom: 5px;
    color: white;
   display: inline-table;
}

.conteudo a {

    color:yellow;
    text-decoration: none;

}
.conteudo iframe{
    margin-top: 50PX; 
    margin-left: 50px;
    padding: 50px;
     width: 600px;
    height: 600px;
}

@media (min-width: 1300px) and (max-width: 1700px) {
  
    /*div {
        background: rgb(243, 15, 15);
    }*/
    
    .Contato{
        font-family: 'Zeyada', cursive;
        font-size: 40px;
        margin-left: 400px;
        margin-top: 18PX; 
        margin-bottom: 5px;
        color: white;
       display: inline-table;
    }
    .conteudo iframe{
        margin-top: 40PX;
        margin-left: 50px; 
        padding: 50px;
        width: 600px;
        height: 600px;
        
    }
}
/* ================================= RESPONSIVO================================== */
@media (min-width: 1100px) and (max-width: 1300px) {
  
    /*div {
        background: rgb(15, 87, 243);
    }*/
    .Contato{
        font-size: 40px;
        margin-left: 250px;
    }

    .conteudo iframe{
        margin-top: 40PX;
        margin-left: 50px; 
        padding: 50px;
        width: 600px;
        height: 600px;
        
    }
}

@media (min-width: 830px) and (max-width: 1100px) {
  
    /* div {
        background: rgb(0, 245, 20);
    }*/

    .Contato{
        font-size: 30px;
        margin-left: 200px;
        margin-top: 50PX; 
    }
    .conteudo iframe{
        margin-top: 40PX; 
        padding: 50px;
        width: 500px;
        height: 500px;
        
    }
}
    @media (min-width: 600px) and (max-width: 830px) {

        .menu{    
            font-size: 18px;  
        }
        div {
           /* background: rgb(245, 69, 0);*/
            width: 450px;
            height: 600px;    
}
    
        .Contato{
            font-size: 20px;
            margin-left: 150px;
            margin-top: 50PX;    
        }
        .conteudo iframe{
            margin-top: 40PX; 
            padding: 50px;
            width: 400px;
            height: 400px;
          
        }
}
@media (min-width: 0px) and (max-width: 600px) {
    .menu{    
        font-size: 18px;  
    }
    div {
        /*background: rgb(252, 1, 252);*/
        width: 380px;
        height:550px;
}

    .Contato{
        font-size: 20px;
        margin-left: 100px;
        margin-top: 50PX;    
    }
    .conteudo iframe{
        margin-top: 40PX; 
        margin-left: 0px;
        padding: 50px;
        width: 400px;
        height: 400px;
      
    }
}
